<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.kpr.tarining.jdbc.test_case.PersonServivceTestCases</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>personUpdationTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>personUpdationTest1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>personReadTest1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>personReadTest2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>personCreationTest1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>personReadAllTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>personReadTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>personDeleteTest1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>personDeleteTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>personCreationTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
