<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9bd5b0">  <td>20/10/30 15:55:18</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServivceTestCases.personCreationTest()[pri:1, instance:com.kpr.tarining.jdbc.test_case.PersonServivceTestCases@3e9b1010]">personCreationTest</td> 
  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="9bd5b0">  <td>20/10/30 15:55:18</td>   <td>147</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServivceTestCases.personCreationTest1()[pri:2, instance:com.kpr.tarining.jdbc.test_case.PersonServivceTestCases@3e9b1010]">personCreationTest1</td> 
  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="9bd5b0">  <td>20/10/30 15:55:20</td>   <td>1236</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServivceTestCases.personDeleteTest()[pri:10, instance:com.kpr.tarining.jdbc.test_case.PersonServivceTestCases@3e9b1010]">personDeleteTest</td> 
  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="9bd5b0">  <td>20/10/30 15:55:20</td>   <td>1447</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServivceTestCases.personDeleteTest1()[pri:11, instance:com.kpr.tarining.jdbc.test_case.PersonServivceTestCases@3e9b1010]">personDeleteTest1</td> 
  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="9bd5b0">  <td>20/10/30 15:55:19</td>   <td>1026</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServivceTestCases.personReadAllTest()[pri:7, instance:com.kpr.tarining.jdbc.test_case.PersonServivceTestCases@3e9b1010]">personReadAllTest</td> 
  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="9bd5b0">  <td>20/10/30 15:55:18</td>   <td>191</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServivceTestCases.personReadTest()[pri:4, instance:com.kpr.tarining.jdbc.test_case.PersonServivceTestCases@3e9b1010]">personReadTest</td> 
  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="9bd5b0">  <td>20/10/30 15:55:19</td>   <td>227</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServivceTestCases.personReadTest1()[pri:5, instance:com.kpr.tarining.jdbc.test_case.PersonServivceTestCases@3e9b1010]">personReadTest1</td> 
  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="9bd5b0">  <td>20/10/30 15:55:19</td>   <td>930</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServivceTestCases.personReadTest2()[pri:6, instance:com.kpr.tarining.jdbc.test_case.PersonServivceTestCases@3e9b1010]">personReadTest2</td> 
  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="9bd5b0">  <td>20/10/30 15:55:19</td>   <td>1094</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServivceTestCases.personUpdationTest()[pri:8, instance:com.kpr.tarining.jdbc.test_case.PersonServivceTestCases@3e9b1010]">personUpdationTest</td> 
  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="9bd5b0">  <td>20/10/30 15:55:20</td>   <td>1218</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServivceTestCases.personUpdationTest1()[pri:9, instance:com.kpr.tarining.jdbc.test_case.PersonServivceTestCases@3e9b1010]">personUpdationTest1</td> 
  <td>main@410495873</td>   <td></td> </tr>
</table>
