body{
    background: grey;
    font-family: 'Times New Roman', serif;
    margin:0;
}
.leftColumn {
    background:black ;
    width: 25%;
    position: fixed;
}
button{
    transition: 0.8s;
    cursor: pointer;
    position: relative;
    padding:1.5vmax;
    border-radius: 1vmax;
    font-size: 1vmax;
}
#emp {
    margin:40vh 10vw 3vh 7vw;
}
#std {
    margin:2vh 10vw 74.5vh 7vw;
    padding-right: 1.5rem;
    padding-left: 1.58rem;
}
button:hover {
    background-color: grey;
}
.rightColumn {
    width:50vw;
    top:10vh;
    right:20vw;          
    height :30vh;
    left:37vw;
    display:grid;
    background-color:black;
    grid-gap: 1.5%;
    padding: 0.5vmax;
    position: absolute;
    overflow:auto;
}
.rightColumn > div {
    background-color: grey;
    color:aliceblue;
    text-align: center;
    padding: 1vmax;
    font-size: 1.5vmax;

}
.rightColumn > div > a {
    text-decoration: none;
    color:#f2f2f2
}
.action {
    grid-column:4/6;
}

.form p{
    font-size:2rem;
    left:45vw;
    margin-top: 0.1vh;
}
.form {
    background:dimgrey;
    position:absolute;
    width:60vw;
    height:49vh;
    top:50vh;
    left:33vw;
}
.formDetails {
    top:2vh;
    border-radius: 5px;
    background-color: #f2f2f2;
    
}
input {
    width: 20vw;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
  
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
  
.label {
    float: left;
    width: 25%;
    margin-top: 1vh;
}
.input {
    float: left;
    width: 75%;
    margin-top: 6px;
}
.addB {
    position: absolute;
    right:15vw;
    top:40vh;
}
.addB button {
    padding:1rem 1.5rem 1rem 1.5rem;
}